name: Build jar

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Get project version
      id: get_version
      run: |
        VERSION=$(./gradlew properties -q | grep '^version:' | awk '{print $2}')
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

    - name: Build with Gradle
      run: ./gradlew build

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: PixelmonRaid-${{ steps.get_version.outputs.VERSION }}
        path: build/libs/*.jar